<%- include('../header.ejs') %>

<% if (typeof question_list !== 'undefined') { %>
  <% if (question_list.length > 0) { %>

    <% for (let i = question_list.length - 1; i >= 0; --i ) { %>
      <% let title = question_list[i] %>
      <div class="card">
        <h1><%= title %></h1>
        <hr>
        <p><a href="/admin/edit?edit_title=<%= title %>">单击此处</a>查看问卷。</p>
      </div>
    <% } %>

  <% } else { %>

    <div class="card">
      <h1>您没有创建任何问卷！</h1>
      <hr>
      <p><a href="/admin/add">点击此处</a>创建问卷。</p>
    </div>
  <% } %>

<% } else if (typeof obj_list !== 'undefined') { %>

  <div class="card">

    <h1><%= obj_list[0].title %></h1>
    <hr>
    <%- include('../render_question') %>

    <% if (!obj_list[0].isopen) { %>
      <form action="/admin/open?edit_title=<%= title %>" method="post">
      <input type="submit" value="开放此问卷"></input>
      </form>
    <% } else { %>
      <form action="/admin/close?edit_title=<%= title %>" method="post">
      <input type="submit" value="关闭问卷"></input>
      </form>
    <% } %>
    <form action="/admin/delete?edit_title=<%= title %>" method="post">
    <button class="important">删除此问卷</button>
    </form>

  </div>

<% } %>

<%- include('../footer.ejs') %>
